/*RESET*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
li,
menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
}

/*CONTAINERS*/

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

/*LAYOUT*/

.row {
    display: flex;
    flex-wrap: wrap;
}

.p-20 {
    padding: 20px;
}

.p-30-0 {
    padding: 30px 0px;
}

.pl-10 {
    padding-left: 10px;
}

.mt-60 {
    margin-top: 60px;
}

.hamburger {

    font-size: 30px;
}

.col-a1 {
    padding: 15px;
    width: 100%;
    line-height: 30px;
}

.col-b1 {
    width: 50%;
}

.col-2-left {
    width: 100%;
}

.col-2-right {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.free-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.size-img-testimonials {
    border-radius: 50%;
    width: 210px;
    aspect-ratio: 1/1;
}

.lh-2 {
    line-height: 2em;
}

.pr-10 {
    padding-right: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.fs-100 {
    font-size: 100px;
}

.phone-size {
    max-height: 70%;
    display: flex;
    align-items: flex-end;

}

.m-0-auto {
    margin: 0 auto;
}

.m-30 {
    margin: 30px 0px;
}

.d-none {
    display: none;
}

.btn-purple {
    background-color: rgb(124, 11, 199);
    border-radius: 50%;
    margin: 20px 0px;
    padding: 15px;

}

.intro-testimonials {
    text-align: center;
}

.fs-xxlarge {
    font-size: xx-large;
}

.testimonials-text {
    padding-top: 10px;
    line-height: 2em;
    color: white;
}

.name-testimonials {
    padding: 20px 0px;
    text-align: center;
}

.intro-benefits {
    padding: 20px 0px;
    color: white;
    font-size: xx-large;
    text-align: center;

}

.li-initial{
    list-style: initial;
}

.td-underline{
    text-decoration: underline;
}

.ta-center{
    text-align: center;
}
.p-50{
    padding: 50px;
}
.fs-50 {
    font-size: 50px;
}

.fs-30 {
    font-size: 30px;
}

.mt-20 {
    margin-top: 20px;
}

.p-relative {
    position: relative;
}

.quote-position {
    position: absolute;
    left: 180px;
}

/*FLEX CLASS*/

.d-flex {
    display: flex;
}

.jc-flex-end {
    justify-content: flex-end;
}

.jc-space-between {
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

.gap-40 {
    gap: 40px;
}

.gap-24 {
    gap: 24px;
}

.ai-center {
    align-items: center;
}

.ai-flex-end {
    align-items: flex-end;
}






/*CARDS*/

.big-card,
.small-card {
    width: 100%;
}

.big-card {
    background-color: skyblue;
    /* width: calc((8 * 100% / 12) - 12px); */
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
}

.light-card {
    background-color: white;
    padding-top: 20px;
    margin: 30px;
    border-radius: 60px;
}

.small-card {
    background-color: skyblue;
    /* width: calc((4 * 100% / 12) - 18px); */
    border-radius: 20px;
    display: flex;
    line-height: 30px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.testimonials-card {
    background-color: rgb(124, 11, 199);
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.benefits-card {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

/*COLOR AND BG COLOR*/

.bg-skyblue {
    background-color: rgb(0, 144, 201);
}

.c-white {
    color: white;
}

.c-skyblue {
    color: rgb(0, 144, 201);
}

.bg-violet {
    background-color: rgb(124, 11, 199);
}

.c-violet {
    color: rgb(124, 11, 199);
}

.bg-white {
    background-color: white;
}

.c-grey {
    color: grey;
}

.c-gold {
    color: gold;
}

.bg-black{
    background-color: black;
}
/*BOTTONS*/

.btn-white {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    color: black;
}

.btn-more {
    background-color: rgb(124, 11, 199);
    padding: 10px 25px;
    color: white;
    width: 70px;
    border-radius: 20px;
    display: flex;
    justify-content: center;

}

.btn-blue {
    background-color: rgb(0, 165, 231);
    padding: 5px 20px;
    border-radius: 20px;
    color: white;
    text-align: center;
    max-width: 180px;
}

.btn-linkedin {
    color: white;
    background-color: rgb(124, 11, 199);
    padding: 10px;
    width: 180px;
    border-radius: 20px;
}

.btn-started {
    background-color: white;
    color: rgb(124, 11, 199);
    padding: 10px 50px;
    border-radius: 20px;
}

.list-header {
    display: none;
}

/*MEDIA QUERY*/

/*mobile*/
@media (min-width:480px) {

    .container {
        width: 100%;
    }

}

/*tablet*/
@media (min-width:780px) {


    .col-a1 {
        width: 50%;
    }

    .big-card {
        width: calc((8 * 100% / 12) - 12px);
    }

    .small-card {
        width: calc((4 * 100% / 12) - 18px);
    }

    .col-t-image {
        display: flex;
        flex-wrap: wrap;
    }

    .testimonials-card {
        display: flex;
        flex-direction: row;
    }

    .testimonials-text {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        justify-content: center;
    }

    .size-img-testimonials {
        width: 500px;
    }

    .benefits-col {
        display: flex;
        flex-wrap: wrap;
    }

    .benefits-card {
        width: calc((6 *100% / 12) - 40px);

    }

    .text-col {
        display: flex;
        flex-direction: column;
        width: 60%;
    }

    .linkedin-col {
        display: flex;
        width: 40%;
        flex-wrap: wrap;
        padding: 30px
    }

    .quote-position {
        right: 10%;
    }




}

/*desktop*/

@media (min-width:1080px) {

    .list-header {
        display: flex;
    }

    .hamburger {
        display: none;
    }


    .col-a1 {
        width: 50%;
    }

    .col-2-left {
        width: 50%;
    }

    .col-2-right {
        width: 40%;
        justify-content: flex-end;
    }

    .col-t-image {
        display: flex;
    }

    .testimonials-card {
        display: flex;
    }

    .testimonials-text {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        justify-content: center;
    }

    .benefits-col {
        display: flex;
        flex-wrap: wrap;
    }

    .benefits-card {
        width: calc((4 *100% / 12) - 60px);
    }

    .quote-position{
        left: 250px;
    }


}