/*RESET*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
li,
menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/*CONTAINERS*/

.container {
    max-width: 1140px;
    margin: 0 auto;
}


/*LAYOUT*/

.row {
    display: flex;
    flex-wrap: wrap;
}



.btn-white {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    color: black;
}

.p-20 {
    padding: 20px;
}

.hamburger {
    display: none;
    font-size: 30px;
}

/*FLEX CLASS*/

.d-flex {
    display: flex;
}

.jc-flex-end {
    justify-content: flex-end;
}

.jc-space-between {
    justify-content: space-between;
}

.gap-40 {
    gap: 40px;
}

.ai-center {
    align-items: center;
}






/*COLOR AND BG COLOR*/

.bg-skyblue {
    background-color: rgb(0, 152, 212);
}

.c-white {
    color: white;
}



/*MEDIA QUERY*/

/*TABLET*/
@media (max-width:780px) {
    .hamburger {
        display: inline-block;
    }

    .d-none {
        display: none;

    }

}